html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

.r3f {
    touch-action: none; /*fixes the presentationControls issues in mobile view ( so we can ta grab and move the computer well in mobile view)*/
}

.htmlScreen iframe {
    width: 1024px;
    height: 670px;
    border: none;
    border-radius: 20px;
    background: #000000;
}