html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: lightskyblue; /*sets the background color to lightskyblue in the whole canvas scene.*/
}